# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDE
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub
**/doc/api/
.dart_tool/
.flutter-plugins-dependencies
build/
coverage/

# FVM (the version is pinned in .fvmrc)
.fvm/

# Android
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/key.properties
android/app/debug
android/app/profile
android/app/release
*.jks
*.keystore
.cxx/
